
#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Aa]ppData
[Dd]ebug
[Bb]uild/
.vs
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
/.vs
/.vs
/api/[Oo]bj
/api/[Bb]in
/api/[Dd]ebug
/api/[Bb]uild/
/service/export/App_Data/downloads
/service/api/wwwroot/images
*.dcproj
FileService/FileService/wwwroot/
fileservice/docker-compose.dcproj
fileservice/docker-compose.yml
fileservice/FileService/.DS_Store
api/AppData/Log/*


/api/bin/**/*

**/bin/*
**/obj/*

**/.cache
apiSupplier/SolutionApiPublic/.idea/.idea.SolutionApiPublic_Supplier/.idea/indexLayout.xml
apiSupplier/SolutionApiPublic/.idea/.idea.SolutionApiPublic_Supplier/.idea/workspace.xml
/.dotnet/.dotnet
api/appsettings.Development.json
