<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitlab" value="https://gitlab.com/api/v4/projects/20953368/packages/nuget/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="nugetreader" />
      <add key="ClearTextPassword" value="2mcsMDjw1DKpJkU9cDyi" />
    </gitlab>
  </packageSourceCredentials>
</configuration>